<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Skills Lister</title>
</head>
<body>
    <h1>THE BEST SKILLS APP EVER</h1>
    <nav >
        <ul >
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/skills">My Skills</a>
            </li>
            <li>
                <a href="/skills/new">New Skill</a>
            </li>
        </ul>
    </nav>
